<div class="banner">
  <div class="container">
  	{% if page.categories %}
      {% for cat in page.categories %} 
        {% if forloop.last %}
          <a href="{{ '/categories/' | prepend: site.baseurl }}#{{ cat }}-ref">{{ cat }}</a>  /
        {% else %}
          <a href="{{ '/categories/' | prepend: site.baseurl }}#{{ cat }}-ref">{{ cat }}</a>,
        {% endif %}
      {% endfor %}
      {% if page.tag %}
        {% for taggie in page.tag %} 
          {% if forloop.last %}
            <a href="{{ '/tag/' | prepend: site.baseurl }}#{{ taggie }}-ref">{{ taggie }}</a>
          {% else %}
            <a href="{{ '/tag/' | prepend: site.baseurl }}#{{ taggie }}-ref">{{ taggie }}</a>,
          {% endif %}
        {% endfor %}
      {% endif %}
    {% else %}
    	{{ site.banner }}
    {% endif %}
  </div>
</div>
