<div class="docs-header" id="content">
  <div class="container">
  	{% if page.title %}
				<h1>{{ page.title }}</h1>
				<p>
					{% if page.date %}
						Post on {{ page.date | date: "%b %d, %Y" }}
					{% endif %}
					{% if page.author %}
						by {{ page.author }}
					{% else %}
						by <a href="{{ '/about' | prepend: site.baseurl }}">{{ site.author }}</a>
					{% endif %}
				</p>
    {% else %}
	    <h1>{{ site.name }}</h1>
	    <p>{{ site.description }}</p>
    {% endif %}
  </div>
</div>