<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title | append: ' - ' |append: site.name }}</title>

	<link rel="shortcut icon" href="{{ '/styles/images/favicon.ico' | prepend: site.baseurl }}">
	<link rel="icon" href="{{ '/styles/images/favicon.ico' | prepend: site.baseurl }}">

	<link rel="stylesheet" href="{{ '/styles/css/index.css' | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ '/styles/css/fontawesome/css/font-awesome.min.css' | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ '/styles/css/syntax.css' | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}"
		href="{{ '/feed.xml' | prepend: site.baseurl }}">

	<meta name="keywords" content="{{ page.title | append: ', ' | append: site.name}}">

	<script src="{{ '/styles/js/jquery.min.js' | prepend: site.baseurl }}"></script>
	<style type="text/css">
		.docs-content {
			margin-bottom: 10px;
		}
	</style>
	<!-- MathJax -->
	{% if page.math %}
	<script type="text/x-mathjax-config">
          MathJax.Hub.Config({"extensions":["tex2jax.js"],"jax":["input/TeX","output/HTML-CSS"],"messageStyle":"none","tex2jax":{"processEnvironments":true,"processEscapes":true,"inlineMath":[["$","$"],["\\(","\\)"]],"displayMath":[["$$","$$"],["\\[","\\]"]]},"TeX":{"extensions":["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"],"equationNumbers":{"autoNumber":"AMS"}},"HTML-CSS":{"availableFonts":["TeX"]}});
	</script>
	<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js"></script>
	{% endif %}
</head>